# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules/

# Next.js (Compilación y Cache)
.next/
out/
build/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel